@import '../jquery.dataTables.min.css';


nav#navbar-example2 {
    position: fixed;
    top: 0;
    background: white;
    z-index: 9;
    height: 100px !important;
}

li.nav-item {
    position: absolute;
    margin-top: 22px;
    margin-left: 10%;
    font-size: 30px;
}

a.nav-link {
    color: #00549F;
}

a.nav-link:hover {
    background: none !important;
    color:#008B95;
}

img {
    width: 18%;
    margin-left: 40%;
}

h1 {
    margin-left: 12%;
    margin-top: 120px;
    margin-bottom: 0;
    color: #818A8F;
    font-weight: bold;
}

#example_filter {
    margin-bottom: 3%;
    text-align: end;
}

label {
    /* margin-bottom: 6% !important;
    top: -8%;
    margin-left: -21%; */
    /* display: flex;
    align-items: center; */
}

#example_wrapper {
    margin-top: 3%;
    margin-bottom: 5%;
}

.container {
    position: relative;
}

th {
    background: #00549F;
    color: white;
}

td > .editbutton {
    margin-top: -71% !important;
    margin-left: 64% !important;
}

a.delbutton.fa.fa-minus-square.btn.btn-danger, a.editbutton.fa.fa-pencil-square.btn.btn-info {
    position: relative;
    right: 10px;
    top: 10px;
}

.btn-outline-primary {
    position: relative;
    color: #008B95;
    top: 30px;
    left: 10px;
    margin-bottom: 2%;
}

.btn-outline-primary:hover {
    color: white;
    background-color: #00549F;
}

.paginate_button {
    color: #008B95 !important;
}

.paginate_button:hover {
    background: #00549F !important;
    color: white;
}

.paginate_button.current {
    color: white;
}

.paginate_button.disabled {
    background: none !important;
}


table#example {
    border: 1px solid #00549F;
    width: 1149px;
    height: 682px;
    box-shadow: 0px 4px 15px 0px;
    box-sizing: border-box;
}

#example_info, #example_paginate  {
    margin-top: 1%;
}

.dt-button.xselected {
    color:blue;
    border: 1px blue solid;
}

.open {
    margin-left: 1%;
    position: fixed;
    top: 4%;
    color: #00549F;
    display: flex;
    flex-direction: row-reverse;
    z-index: 10;
}

.menu {
    margin-right: 7%;
}

#overlay {
    background-color: #818181;
}

.open:hover {
    color:#008B95;
}

i.lni.lni-menu {
    margin-top: 2%;
}

i.lni.lni-home {
    margin-left: -67%;
}

i.lni.lni-dashboard {
    margin-left: -98%;
}

i.lni.lni-calendar {
    margin-left: -87%;
}

i.lni.lni-wallet {
    margin-left: -68%;
}

i.lni.lni-user {
    margin-left: -80%;
}

i.lni.lni-trash-can {
    margin-left: -66%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: #008B95;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    margin-left: 12%;
    color: white;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #00549F;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.footerNav {
    border-top: 2px solid white;
    margin-top: 146%;
}

.footer {
    color: #008B95;
    margin-top: 5%;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* modal form */

.modal-header {
    padding: 0;
}

h4.modal-title {
    margin-top: 5%;
    margin-left: 4%;
    margin-bottom: 4%;
    padding: 0 !important;
}

button.close.close-button {
    position: absolute;
    top: 2%;
    left: 95%;
}

button.close.close-button:hover {
    color: #00549F;
}

.modal-body {
    margin-left: 9%;
}

button#btn-back-to-top {
    border-radius: 54%;
    position: fixed;
    bottom: 5%;
    right: 30px;
    background: #00549F;
    border-color: #00549F;
}

#addbutton {
    position: absolute;
    top: 35px;
}

@media screen and (min-width: 320px) {

}